body {
  font-family: 'Poppins', sans-serif;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu-hamburger {
    display: none;
}

 i {
    color: gold;
    font-size: 1.5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    background-color: #000000;
    color: white;
    padding: 2rem;
    line-height: 1.8;
}

footer p {
    font-size: small;
    font-weight: 300;
    text-align: center;
}
footer a {
    color: #1E90F8;
}